.PreguntaUsuario{
	width:40%;
	height:200px;
	border:1px solid black;
	margin-left:25%;
	text-align:center;
	float:left;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	background-color:#3CC;
}
/*Colocamos los dos inputs dentro de un rectangulo para que este a la misma altura */
#cuadroimput{
	width:100%;
	height:35px;
	text-align:left;
}
/*Le damos una configuracion especifica al input de Columna*/
.imputColumna{
	width:30%;
	height:30px;
	text-align:center;
	margin-left:70px;
}
/*Le damos una configuracion especifica al input de Fila*/
.imputFila{
	width:30%;
	height:30px;
	text-align:center;
	margin-left:50px;
}
/*Creamos un rectangulo donde van a estar los dos botones juntos y los posiciones de una manera en particular a la que nosotros queremos */
#botones{
	width:100%;
	height:35px;
	text-align:left;
	margin-top:4%;
}
/*Le damos una configuracion especifica al boton Destapar */
.BotonDestapar{
  width:30%;
  height:35px;
  margin-left:73px;
}
/*Utilizamos el "hover" en el "botonDestapar" , lo usamos para que cuando pases el raton por encima del boton destaque sobre el otro y a la vez ayudar al usuario a saber donde esta su flecha del raton en todo momento*/ 
.BotonDestapar:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  	-webkit-border-radius: 550px;
	-moz-border-radius: 550px;
	border-radius: 550px;
	font-size:20px;
	background-color:#6AE244;
	color:white;
	font-weight: bold;/*Mostrar en negrita , asi se puede leer mejor */
}
/*Le damos una configuracion especifica al boton Abandona */
.BotonAbandona{
  width:30%;
  height:35px; 
  margin-left:57px;
}
/*Utilizamos el "hover" en el "botonabandona" , lo usamos para que cuando pases el raton por encima del boton destaque sobre el otro y a la vez ayudar al usuario a saber donde esta su flecha del raton en todo momento*/ 
.BotonAbandona:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	font-size:20px;
	background-color:#F30A0A;
	color:white;
}
/*Configuramos el tablero que se mostrara en el div "mostrarJuego"*/
table {
	width:1000px;
	border-collapse: collapse;
    border: 5px solid black;
	margin-left:7.8%;
	text-align:center;
	margin-top:3%;
	float:left;
	margin-bottom:4%;
	/*Esto nos permite hacer el efecto de sombra que sale por detras del borde de la tablero*/
	-webkit-box-shadow: 0px 2px 14px 6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 14px 6px rgba(0,0,0,1);
	box-shadow: 0px 2px 14px 6px rgba(0,0,0,1);	
}
/*Le asignamos un tamaño de ancho y altura determinada a la vez que un tamaño exacto de letra */
td {
    border: 1px solid black;
	margin:auto;
	width:15px;
	height:30px;
	font-size:15px;
}
/*Este id lo utilizamos para poner dos cuadros en esta caja*/
#ContenedorSecundario{
	width:95%;
	height:290px;
	float:left;
	margin-top:2.5%;
	margin-right:1.5%;	
	margin-left:1.5%;
	margin-bottom:2.5%;
	border:1px solid black;
}
/*Le damos las diferentes intruciones al usuario que tenie el juego*/
.InfoPartida{
	width:45%;
	height:290px;
	border:1px solid black;
	float:right;
	text-align:center;	
	padding-left:1%;
	padding-right:2%;
	background-color:#3CC;
	color:white;
	font-weight: bold;
}
/*Mostramos las estadisticas en pantalla de una forma determinada*/
.EstadisticasPartida{
	float:left;
	border:1px solid black;
	width:40%;
	height:290px;
	margin-right:1.5%;
	text-align:center;
	background-color:#3CC;
}
/*Cuadro donde situamos la vida y el punto de la partida*/
.mostrarEstadisticas {
	width:100%;
	height:58px;
	float:left;
	margin-top:3%;
	margin-bottom:5%;
	background-color:#3CC;
}
/*recuadro cn el nombre de vidas*/
.cuadroVida{
	width:25%;
	height:32.5px;
	border:5px solid black;
	padding-top:3%;
	float:left;
	margin-left:125px;
	margin-top:-1px;
	background-color:white;	
}
/*recuadro cn el nombre de puntos*/
.cuadroPuntos{
	width:25%;
	height:32.5px;
	border:5px solid black;
	padding-top:3%;
	float:left;
	margin-left:125px;
	margin-top:-1px;
	background-color:white;	
}
/*Nos muestra la cuantidad de vidas que tenemos en todo momento de la partida */
.mostrarVidas{
	width:15%;
	height:38px;
	border:5px solid black;
	text-align:center;	
	float:left;
	padding-top:2%;
	margin-left:25px;
	margin-top:-1px;
	font-size:22px;
	-webkit-border-radius: 600px;
	-moz-border-radius: 600px;
	border-radius: 600px;	
	background-color:white;	
}
/*Personalizar como queremos que nos muestre los puntos que vamos consiguiendo en todo momento o los puntos que nos quitan */
.mostrarPuntuacion{
	width:15%;
	height:38px;
	border:5px solid black;
	text-align:center;	
	padding-top:2%;	
	float:left;
	margin-top:-1px;
	margin-left:25px;
	font-size:22px;	
	-webkit-border-radius: 600px;
	-moz-border-radius: 600px;
	border-radius: 600px;	
	background-color:white;	
}
/*Configurar el tipo de letra que queremos utilizar y el tamaño de letra */
li{
	text-align:left;
	line-height:150%;
}
/*Configurar el tamaño de letra y hacia donde queremos aliniar el texto*/
p{
	text-align:left;
	font-size:15px;
}
/*Configurar el tipo de letra que queremos utilizar y el tamaño de letra */
h2{
	font-size:22px;
	font-family:"Arial Black", Gadget, sans-serif;
}
/*Configurar el tamaño de letra */
h3{
	font-size:18px;
}