#PreguntaUsuario{
	width:50%;
	height:205px;
	border:1px solid black;
	margin:auto;
	text-align:center;
}
/*Configuracion del tablero a mostrar en la pagina index.html*/
td {
    border: 1px solid black;
	margin:auto;
	padding:2%;
}

table {
	border-collapse: collapse;
    border: 1px solid black;
	margin:auto;
	width:50%;
	height:10px;
	text-align:center;
	margin-top:2%;
}